<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Blog</title>
</head>
<body>
  <h1>Spring Blog</h1>
  <form th:object="${post}" th:action="@{/posts}" method="post">
    <div>
      <label for="title" th:text="#{blog.label.title}">Title:</label>
      <input type="text" th:field="*{title}" id="title" />
      <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid Title</div>
    </div>
    <div>
      <label for="description" th:text="#{blog.label.description}">Description:</label>
      <input type="text" th:field="*{description}" id="description" />
      <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Invalid Description</div>
    </div>
    <div>
      <label for="body" th:text="#{blog.label.body}">Body:</label>
      <textarea th:field="${post.body}" id="body"></textarea>
      <div style="color:red" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Invalid Body</div>
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
</body>
</html>